<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arnold.anek">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />


    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:requestLegacyExternalStorage="true"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Anek"
        tools:ignore="AllowBackup">
        <activity android:name=".CaptureAct"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".AnekApps.Recorder" />
        <activity android:name=".AnekApps.DiceRoller" />
        <activity android:name=".AnekApps.Converter" />
        <activity android:name=".AnekApps.Calculator" />
        <activity android:name=".AnekApps.ColorCode" />
        <activity android:name=".AnekApps.BrowserSearch" />
        <activity android:name=".AnekApps.PhotoGallery" />
        <activity android:name=".AnekApps.Barcode" />
        <activity android:name=".AnekApps.Notebook" />
        <activity android:name=".AnekApps.Passwords" />
        <activity android:name=".AnekApps.Counter" />
        <activity android:name=".AnekApps.LinkifyLinks" />
        <activity android:name=".AnekScreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>