<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arnold.anek">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Anek"
        tools:ignore="AllowBackup">
        <activity android:name=".HelperActivities.Storage"></activity>
        <activity android:name=".HelperActivities.Energy" />
        <activity android:name=".HelperActivities.Fuel" />
        <activity android:name=".HelperActivities.Weight" />
        <activity android:name=".HelperActivities.Power" />
        <activity android:name=".HelperActivities.Pressure" />
        <activity android:name=".HelperActivities.Speed" />
        <activity android:name=".HelperActivities.Temperature" />
        <activity android:name=".HelperActivities.Time" />
        <activity android:name=".HelperActivities.Cooking" />
        <activity android:name=".HelperActivities.AreaConversion" />
        <activity android:name=".AnekApps.Diary" />
        <activity
            android:name=".AnekApps.QrCode"
            android:icon="@drawable/qr_code"
            android:label="Create QR Code"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HelperActivities.CaptureAct"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".AnekApps.Recorder" />
        <activity android:name=".AnekApps.DiceRoller" />
        <activity android:name=".AnekApps.Converter" />
        <activity android:name=".AnekApps.Calculator" />
        <activity
            android:name=".AnekApps.ColorCode"
            android:forceDarkAllowed="false"
            tools:targetApi="q" />
        <activity android:name=".AnekApps.BrowserSearch" />
        <activity android:name=".AnekApps.PhotoGallery" />
        <activity android:name=".AnekApps.Barcode" />
        <activity android:name=".AnekApps.Notebook" />
        <activity android:name=".AnekApps.Passwords" />
        <activity
            android:name=".AnekApps.Counter"
            android:icon="@drawable/word_counter"
            android:label="Counter - Anek">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".AnekApps.LinkifyLinks" />
        <activity android:name=".AnekScreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>